body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    position: relative;
    width: 600px;
    height: 400px;
}
.card {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.card:hover {
    transform: rotateY(180deg);
}
img {
    width: 100%;
    height: 100%;
}
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: yellow;
    color: black;
}
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: blue;
    color: color;
    transform: rotateY(180deg);
}
